// Colors
// -------------------------------
.c1 { color: $c1 !important; }
.c2 { color: $c2 !important; }
.c3 { color: $c3 !important; }
.c4 { color: $c4 !important; }
.c5 { color: $c5 !important; }
.c6 { color: $c6 !important; }
.c7 { color: $c7 !important; }
.c8 { color: $c8 !important; }
.c9 { color: $c9 !important; }
.c10 { color: $c10 !important; }
.c11 { color: $c11 !important; }
