/**
 * Define variables here
 */

// Units
// -------------------------------
$base-unit: 30px;
$small-unit: $base-unit / 2;
$large-unit: $base-unit * 2;

// Colors
// -------------------------------
$c1: #22874D;
$c2: #16643A;
$c3: #FFFFFF;
$c4: #F2F2F2;
$c5: #E6E6E6;
$c6: #B3B3B3;
$c7: #808080;
$c8: #000000;
$c9: #FF1D25;
$c10: #3FA9F5;
$c11: #FFDD01;



