<ion-view>

    <!-- Header -->
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{'menu.about' | translate}}</h1>
    </ion-header-bar>

    <!-- Main Content -->
    <ion-content class="about" padding="false" scroll="false">
        <div class="row row-center col col-100 text-center heigh-30">
             <img class="height-30" src="assets/images/icon.png">
        </div>
        <div>
            <span class="row row-center text-center c7 height-10">Projeto desenvolvido em razão do projeto DLEI da Escola Virgem de Lourdes.</span>
             <span class="row row-center text-center c6">Orientador:</span>
             <span class="col col-offset-10 row row-center c7">Robson Pontes</span>
            <span class="row row-center text-center c6"> Alunos:</span>
            <div class="students col col-100 c7">
                <div class="row students-row">
                    <span class="col col-50 text-right">Amanda Almeida</span>
                    <span class="col col-50 text-left">Arthur Mariz</span>
                </div>
                <div class="row students-row">
                    <span class="col col-50 text-right">Arthur Paschoal</span>
                    <span class="col col-50 text-left">Caio Marques</span>
                </div>
                <div class="row students-row">
                    <span class="col col-50 text-right">Filipe Amaral</span>
                    <span class="col col-50 text-left">Gabriel Araújo</span>
                </div>
                <div class="row students-row">
                    <span class="col col-50 text-right">João Victor Ramalho</span>
                    <span class="col col-50 text-left">Letícia Rabello</span>
                </div>
                <div class="row students-row">
                    <span class="col col-50 text-right">Lorenzo Carvalho</span>
                    <span class="col col-50 text-left">Maria Letícia Lima</span>
                </div>
                <div class="row students-row">
                    <span class="col col-50 text-right">Raphael Cavalcante</span>
                    <span class="col col-50 text-left">Raissa Teixeira</span>
                </div>
            </div>
            <div>
                <span class="row row-center text-center c6">Parceria:</span>
                <span class="col col-offset-10 row row-center c7">Fagner Gomes</span>
            </div>
        </div>
    </ion-content>

</ion-view>
