.loader {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.autocenter {
    text-align: center;
}

.autosize-100 {
  width: 100%;
  height: auto;
}

.autosize-75 {
  width: 75%;
  height: auto;
}

.autosize-50 {
  width: 50%;
  height: auto;
}

.autosize-25 {
  width: 25%;
  height: auto;
}

.scroll {
    height: 100%;
}

