@font-face {
    font-family: "sppicons";
    src: url('../fonts/sppicons.eot');
    src: url('../fonts/sppicons.eot?#iefix') format('eot'),
        url('../fonts/sppicons.woff') format('woff'),
        url('../fonts/sppicons.ttf') format('truetype'),
        url('../fonts/sppicons.svg#sppicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.spp-icon:before {
    font-family: "sppicons";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.icon-about:before {
    content: "\E001";
}

.icon-alert:before {
    content: "\E002";
}

.icon-attention:before {
    content: "\E003";
}

.icon-back:before {
    content: "\E004";
}

.icon-battery-01:before {
    content: "\E005";
}

.icon-battery-02:before {
    content: "\E006";
}

.icon-battery-03:before {
    content: "\E007";
}

.icon-battery-04:before {
    content: "\E008";
}

.icon-battery-05:before {
    content: "\E009";
}

.icon-bgd:before {
    content: "\E00A";
}

.icon-check:before {
    content: "\E00B";
}

.icon-connect:before {
    content: "\E00C";
}

.icon-disconnect:before {
    content: "\E00D";
}

.icon-exit:before {
    content: "\E00E";
}

.icon-gluco:before {
    content: "\E00F";
}

.icon-home:before {
    content: "\E010";
}

.icon-magnifier:before {
    content: "\E011";
}

.icon-mensagens:before {
    content: "\E012";
}

.icon-oxi:before {
    content: "\E013";
}

.icon-plus:before {
    content: "\E014";
}

.icon-press:before {
    content: "\E015";
}

.icon-profile:before {
    content: "\E016";
}

.icon-sensors:before {
    content: "\E017";
}

.icon-settings:before {
    content: "\E018";
}

.icon-settings2:before {
    content: "\E019";
}

.icon-sync:before {
    content: "\E01A";
}

.icon-termo:before {
    content: "\E01B";
}

.icon-update:before {
    content: "\E01C";
}
