<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{'title.gardens' | translate}}</h1>
        <button class="button button-icon icon ion-android-add-circle" ng-click=""></button>
    </ion-header-bar>
    <ion-content class="gardens" padding="true" scroll="false">
        <div ng-if="gardensCtrl.gardensList.length <= 0" class="col col-100 text-center">
            <span class="row row-center col-100 text-center" ng-bind="'alert.noGardens' | translate"></span>
            <span class="row row-center col-100 text-center" ng-bind="'alert.addMoreGardens' | translate"></span>
        </div>
        <ion-scroll class="height-100" has-bouncing="true" on-swipe-right="toggle-menu">
            <ion-list show-delete="false"
                      show-reorder="false"
                      can-swipe="true">
                <ion-item ng-repeat="item in gardensCtrl.gardensList"
                          class="item-thumbnail-left height-20">

                    <img src="assets/images/gardens/alecrim.jpg">
                    <h2>{{item}}:title</h2>
                    <p>{{item.description}}:description</p>
                    <ion-option-button class="button-positive"
                                       ng-click="gardensCtrl.remove(item)">
                        {{'remove' | translate}}
                    </ion-option-button>
                    <ion-option-button class="button-info"
                                       ng-click=""gardensCtrl.edit(item)">
                        {{'edit' | translate}}
                    </ion-option-button>
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="gardensCtrl.gardensList.splice($index, 1)">
                    </ion-delete-button>
                    <ion-reorder-button class="ion-navicon"
                                        on-reorder="{{gardensCtrl.reorderItem(item, $fromIndex, $toIndex)}}">
                    </ion-reorder-button>

                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
