<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{'title.gardens' | translate}}</h1>
        <button class="button button-icon icon ion-android-add-circle" ng-click="addGarden()"></button>
    </ion-header-bar>
    <ion-content class="gardens" padding="false" scroll="false">
        <div class="row text-center row-center col-100 height-10" ng-if="loading">
           <ion-spinner class=""></ion-spinner>
        </div>
        <div class="row text-center row-center col-100 height-10 width-100" ng-if="!loading && isEmpty()">
            <span class="width-100"> Sem hortas, adicione para continuar </span>
        </div>
        <ion-scroll class="height-100 padding" has-bouncing="true" >
            <ion-list >
                <ion-item class="item-thumbnail-left" ng-repeat="garden in gardens"
                        ng-click="show(garden.id)">
                    <img ng-src="{{garden.url? garden.url: 'http://icons.wxug.com/i/c/k/fog.gif'}}">
                    <h2>{{garden.name}}</h2>
                    <p>Regado em: {{garden.showerAt? (garden.showerAt | date: 'HH:mm dd/MM'): 'Sem registro'}}</p>
                    <p>Tamanho: {{garden.size.h * garden.size.w}}m&#178;</p>
                    <ion-option-button class="button-assertive" ng-click="showRemoveConfirm(garden.id)">
                        {{'remove' | translate}}

                    </ion-option-button>
                </ion-item>

            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
