<ion-view>

    <!-- Header -->
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{'appName' | translate}}</h1>
        <button class="button button-icon icon ion-android-sync" ng-click="dashboardCtrl.requestMessages()"></button>
    </ion-header-bar>

    <!-- Main Content -->
    <ion-content class="dashboard" padding="false" scroll="false">

    </ion-content>

</ion-view>
