/**
 * Created by fagnerng on 23/10/2015.
 */

.plants {
    span {
        width: 100% !important;
    }
    .page {
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .margin {
        margin: 5%;
    }

    .imagem {
        max-width: 100%;
        max-height: 60%;
    }
}