<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-chevron-left" utils-onclick-backpage></button>
        <h1 class="title">{{'title.garden' | translate}}</h1>
        <button class="button button-icon icon ion-edit" ng-click="openPopover()"></button>
    </ion-header-bar>
    <ion-content class="garden" padding="false" scroll="false" ng-click="dimissPopOver()">
        <label class="item item-input">
            <span class="input-label" ng-bind-html="('city' | translate) + ':'"></span>
            <input type="text" ng-change="autocomplete()" ng-model="g.city" placeholder="{{'placeholder.city' | translate}}">
        </label>
        <ion-list ng-show="showAutoComplete" class="autocompleteList width-80 col-offset-10">
            <ion-item ng-repeat="city in cities" ng-click="select(city)">
                {{city.name}}
            </ion-item>
        </ion-list>
        <label class="item item-input">
            <span class="input-label" ng-bind-html="('name' | translate) + ':'"></span>
            <input type="text" ng-model="g.name" placeholder="{{'placeholder.name' | translate}}">
        </label>

    </ion-content>
</ion-view>
<!--
<ion-popover-view>
    <ion-content>
        <ion-item>
            <p>Opt1</p>
        </ion-item>
        <ion-item>
            <p>Opt2</p>
        </ion-item>
    </ion-content>
</ion-popover-view>-->