<ion-view>
    <meta charset="utf-8">
    <ion-header-bar align-title="left" class="bar-positive">
        <button id="btn-menu" class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">{{'title.tips' | translate}}</h1>
    </ion-header-bar>
    <ion-content class="tips" padding="false" scroll="false" >
        <div class="flex flex-col height-15">
            <span class="width-100 text-center c8 t2 padding-horizontal padding-top" ng-bind-html="'tips.title' | translate"></span>
            <span class="width-100 text-center c7 t3 padding-horizontal " ng-bind-html="'tips.hint' | translate"></span>
        </div>
        <ion-scroll class="height-65" direction="x" has-bouncing="true" delegate-handle="content"
                    paging="true" on-scroll="onScroll()" scrollbar-x="false">
            <div class="row row-no-padding">
                <div class="col-100 page" ng-repeat="tip in tips" id="page_{{$index}}">
                    <p class="c8 t2" ng-bind-html="('tips.'+tip) | translate"></p>
                </div>
            </div>
        </ion-scroll>
        <div class="height-5 row row-center text-center width-60 col-offset-20">
            <i ng-repeat="tip in tips" class="col icon" ng-click="goTo($index)"
               ng-class="currentPage === $index ? 'ion-ios-circle-filled' : 'ion-ios-circle-outline'"></i>
        </div>
        <div class="row row-center height-15 row-no-padding">
            <button class="button height-10 button-positive col-40 margin" ng-disabled="!shouldScrollRight()"
                    ng-click="moveRight()" ng-bind-html="'button.previous' | translate"></button>
            <button class="button height-10 button-positive col-40 margin" ng-disabled="!shouldScrollLeft()"
                    ng-click="moveLeft()" ng-bind-html="'button.next' | translate"></button>
        </div>
    </ion-content>
</ion-view>
